.button {
  -fx-background-color: #294F74;
  -fx-text-fill: white;
  -fx-font-family: "Quicksand";
  -fx-font-size: 14px;
  -fx-background-radius: 7px;
}

.button:hover {
  -fx-background-color: #305F8C;
  -fx-text-fill: white;
}

.button:pressed {
  -fx-background-color: #34699B;
  -fx-text-fill: white;
}

.text-field{
   -fx-font-family: "Quicksand";
   -fx-font-size: 14;
   -fx-padding: 1,1,1,1;
   -fx-border-color: #4F888A;
   -fx-border-width: 2;
   -fx-border-radius: 1;
   -fx-border: gone;
   -fx-background-color: transparent;
   -fx-text-fill: #767171;
}